.page {
  flex: 9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 25px;
  border-radius: 10px;

  h2 {
    padding: 15px 0;
  }

  img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  p {
    padding: 10px 0;
  }
}
